/Volodin/Java2sem/SPBU_Bank/*
!/Volodin/Java2sem/SPBU_Bank/src*
!/Volodin/Java2sem/SPBU_Bank/pom.xml

/Volodin/Java2sem/TheBankStory/*
!/Volodin/Java2sem/TheBankStory/TheBankStory/src/main/java*
!/Volodin/Java2sem/TheBankStory/TheBankStory/pom.xml